In [129]:
import pandas as pd
import numpy as np
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
from statsmodels.formula.api import ols
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score

In [130]:
df = pd.read_csv('Data/FINAL_data-2.csv')

In [131]:
df = df.drop(columns=['rooms_студия'])
df = df.drop(columns=['rent_jkh_включена (без счётчиков)'])
df = df.drop(columns=['rent_prepayment_1 месяц'])
df = df.drop(columns=['rent_term_несколько месяцев'])
df = df.drop(columns=['rent_living_conditions_ни с детьми, ни с животными'])
df = df.drop(columns=['year_built_interval_не попал'])

In [132]:
y = np.log(df['price'])
X = df.drop("price", axis=1)

In [74]:
X_with_const = add_constant(X)

ols_model = sm.OLS(y, X_with_const).fit()

weights = 1 / (ols_model.resid ** 2 + 1e-6)

wls_model = sm.WLS(y, X_with_const, weights=weights).fit()

In [75]:
print(wls_model.summary())

                            WLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.986
Model:                            WLS   Adj. R-squared:                  0.986
Method:                 Least Squares   F-statistic:                     4180.
Date:                Fri, 18 Apr 2025   Prob (F-statistic):               0.00
Time:                        16:53:13   Log-Likelihood:                 1066.2
No. Observations:                1326   AIC:                            -2086.
Df Residuals:                    1303   BIC:                            -1967.
Df Model:                          22
Covariance Type:            nonrobust
=====================================================================================================================
                                                        coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------------
const                                                11.3212      0.006   2033.950      0.000      11.310      11.332
metro_time                                           -0.0027      0.000    -13.744      0.000      -0.003      -0.002
info_total_area                                       0.0119      0.000    103.448      0.000       0.012       0.012
floor_ratio                                           0.0312      0.003     12.205      0.000       0.026       0.036
firt_floor                                           -0.0715      0.002    -28.760      0.000      -0.076      -0.067
last_floor                                           -0.0380      0.005     -7.782      0.000      -0.048      -0.028
rooms_1                                              -0.0774      0.003    -30.627      0.000      -0.082      -0.072
rooms_2                                              -0.0209      0.003     -6.200      0.000      -0.028      -0.014
rooms_3                                               0.0680      0.008      9.048      0.000       0.053       0.083
rooms_4                                               0.2550      0.020     12.546      0.000       0.215       0.295
rent_jkh_включена (счётчики включены)                 0.0011      0.002      0.631      0.528      -0.002       0.005
rent_prepayment_2 месяца                              0.0208      0.004      5.488      0.000       0.013       0.028
rent_prepayment_3 месяца                              0.2790      0.124      2.248      0.025       0.036       0.522
rent_term_от года                                     0.0864      0.002     37.509      0.000       0.082       0.091
rent_living_conditions_можно с детьми                 0.0082      0.002      4.410      0.000       0.005       0.012
rent_living_conditions_можно с детьми и животными    -0.0196      0.003     -6.679      0.000      -0.025      -0.014
rent_living_conditions_можно с животными             -0.0026      0.005     -0.488      0.626      -0.013       0.008
year_built_interval_1890-1917                         0.0155      0.067      0.231      0.817      -0.116       0.147
year_built_interval_1917-1945                        -0.1561      0.041     -3.827      0.000      -0.236      -0.076
year_built_interval_1945-1970                        -0.0854      0.003    -31.663      0.000      -0.091      -0.080
year_built_interval_1970-1990                        -0.0415      0.003    -15.380      0.000      -0.047      -0.036
year_built_interval_1991-2025                         0.0644      0.002     39.689      0.000       0.061       0.068
log_distance                                         -0.3067      0.002   -142.003      0.000      -0.311      -0.302
==============================================================================
Omnibus:                     5028.581   Durbin-Watson:                   1.946
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              209.670
Skew:                          -0.002   Prob(JB):                     2.96e-46
Kurtosis:                       1.052   Cond. No.                     8.58e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.58e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [76]:
X_with_const = add_constant(X)

ols_model = sm.OLS(y, X_with_const).fit()

test_vars = ['year_built_interval_1890-1917', 'rent_living_conditions_можно с животными', 'rent_jkh_включена (счётчики включены)']
test_indices = [X_with_const.columns.get_loc(var) for var in test_vars]

f_test_matrix = [1 if i in test_indices else 0 for i in range(len(ols_model.params))]

f_test = ols_model.f_test(f_test_matrix)

print("F-test for group significance:")
print(f_test)

F-test for group significance:
<F test: F=0.004700273554553871, p=0.9453515395286904, df_denom=1.3e+03, df_num=1>

In [56]:
# df = df.drop(columns=['year_built_interval_1890-1917'])
# df = df.drop(columns=['rent_living_conditions_можно с животными'])
# df = df.drop(columns=['rent_jkh_включена (счётчики включены)'])
# df = df.drop(columns=['rent_term_несколько месяцев'])
# df = df.drop(columns=['rent_living_conditions_ни с детьми, ни с животными'])
# df = df.drop(columns=['year_built_interval_не попал'])

In [77]:
(np.e**(0.0119)-1)*100

1.1971086697383893

In [78]:
df

,price,metro_time,info_total_area,floor_ratio,firt_floor,last_floor,rooms_1,rooms_2,rooms_3,rooms_4,...,rent_term_от года,rent_living_conditions_можно с детьми,rent_living_conditions_можно с детьми и животными,rent_living_conditions_можно с животными,year_built_interval_1890-1917,year_built_interval_1917-1945,year_built_interval_1945-1970,year_built_interval_1970-1990,year_built_interval_1991-2025,log_distance
0,470000,7.0,73.0,0.683333,0,0,0,1,0,0,...,1,1,0,0,0,0,0,0,1,1.291674
1,270000,13.0,68.0,0.522727,0,0,0,0,1,0,...,1,1,0,0,0,0,0,0,1,1.291674
2,30000,9.0,40.0,0.333333,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,2.921454
3,75000,13.0,60.0,0.375000,0,0,0,1,0,0,...,1,0,0,0,0,0,1,0,0,1.742368
4,29000,7.0,12.0,0.611111,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,1.466229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1321,65000,5.0,27.0,0.133333,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,1.776594
1322,65000,24.0,35.7,0.636364,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,2.771735
1323,65000,6.0,40.0,0.636364,0,0,1,0,0,0,...,1,1,0,0,0,0,0,0,1,2.823251
1324,64000,7.0,22.0,0.333333,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,2.585055
1325,64000,6.0,19.0,0.375000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2.001562

In [97]:

test_df={
    'const':1, 'metro_time':1, 'info_total_area':70, 'floor_ratio':1, 'firt_floor':0,
       'last_floor':1, 'rooms_1':0, 'rooms_2':1, 'rooms_3':0, 'rooms_4':0,
       'rent_jkh_включена (счётчики включены)':1, 'rent_prepayment_2 месяца':0,
       'rent_prepayment_3 месяца':1, 'rent_term_от года':0,
       'rent_living_conditions_можно с детьми':0,
       'rent_living_conditions_можно с детьми и животными':1,
       'rent_living_conditions_можно с животными':0,
       'year_built_interval_1890-1917':0, 'year_built_interval_1917-1945':0,
       'year_built_interval_1945-1970':0, 'year_built_interval_1970-1990':0,
       'year_built_interval_1991-2025':1, 'log_distance':1.79
}

test_df = pd.DataFrame([test_df])
test_df = test_df.values.reshape(1, -1)

In [98]:
wls_model.predict(test_df)

array([11.89643331])

In [96]:
np.log(6)

np.float64(1.791759469228055)

In [99]:
np.exp(11.896)

np.float64(146678.73530331807)

In [101]:
y.head()

0    13.060488
1    12.506177
2    10.308953
3    11.225243
4    10.275051
Name: price, dtype: float64

In [178]:
predictions = wls_model.get_prediction(test_df)
pred_summary_frame = predictions.summary_frame(alpha=0.05)

lower_b = np.exp(pred_summary_frame[pred_summary_frame.columns[2]])
upper_b = np.exp(pred_summary_frame[pred_summary_frame.columns[3]])
print(f'Доверительный интервал для предсказания: {lower_b[0]:.2f} <= y_hat <= {upper_b[0]:.0f}')

Доверительный интервал для предсказания: 115007.06 <= y_hat <= 187235